/microservices-v3-master/social-multiplication/target/
/microservices-v4-master/social-multiplication/target/
/microservices-v5-master/social-multiplication/target/
/microservices-v5-master/gamification/target/
/microservices-v6-master/gamification/target/
/microservices-v6-master/social-multiplication/target/
/microservices-v7-master/gateway/target/